<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Your AddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>AddressBook</h1>
<table>
    <tr th:each="book : ${addressBooks}">
        <td th:text="${book.getName()}"></td>
    </tr>
</table>
<form action="#" th:action="@{/AddressBook}" method="post">
    <div class='field'>
        <p>Name: <input type="text" name="bookName"/></p>
    </div>
    <div class='actions'>
        <p><input type="submit" value="Submit"/></p>
    </div>
</form>
</body>
</html>