<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Your AddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>AddressBook</h1>
<table>
    <tr th:if="${addressBooks.empty}">
        <td>No address books :(</td>
    </tr>
    <tr th:each="book : ${addressBooks}">
        <td>
            <form action="#" th:action="@{/DeleteBook}" method="post">
                <input type="hidden" name="addressBookName" th:value="${book.getName()}"/>
                <label for="submit" th:text="${book.getName()}"></label>
                <input type="submit" name="submit" value="Remove"/>
            </form>
        </td>
    </tr>
</table>
<h2>Create an AddressBook</h2>
<form action="#" th:action="@{/AddressBook}" method="post">
        <span>
            <label for="bookName">Name: </label>
            <input type="text" name="bookName"/>
            <input type="submit" value="Create AddressBook"/>
        </span>
</form>
</body>
</html>